.app.dark{
    background-color: #222;
    color: white;
    .home .homeContainer{
        background-color: #222;
    color: white;
    }
    .table {
        background-color: #111;
    
        .tableCell {
          color: gray;
        }
      }
    .navbar{
        color:#999;
        border-color: #333;

        .search{
            border-color: #999;
        }
    }

    .sidebar{
        background-color: #111;
        border-color: #333;

        .top{
            .logo{
                color: #999;
            }
        }
        hr{
            border-color: #333;

        }
        ul{
            li{
                
                &:hover{
                    background-color: #333;
                }
                .icon{
                    color: #999;
                }
            }
        }
    }
    .datatable{
        background-color: #333;
        color: #999;
    }
}